*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    background: #fff;
    align-items: center;
    height: 120px;
    z-index: 1;
}
.logo{
    cursor: pointer;
}
header img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

header .menu {
    display: flex;
    list-style: none;
    font-weight: bold;
    gap: 80px;
    margin-top: 80px;
    margin-left: 100px;
    font-size: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header .menu li a:hover {
    color: #ffbc4c;
}


header .login_status,
header .logout_status {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}


header .login_status .profile_image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .login_status img {
    width: 40px;
    height: 40px;
}
.sub_header {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #ffbc4c;
}
.sub_header_text01{
    font-size: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
} 
.sub_header_text02{
    font-size: 38px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
footer{
    background-color: #7C838A;
    width: 100%;
    height: 200px;
    bottom: 0;
}
.main{
    width: 1100px;
    margin-top: 70px;
}
.tabbox{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 45px;
    padding: 10px 0;
    border-bottom: 1.5px black solid;
    font-weight: bold;
}
#user_profile{
    background-color: #ffbc4c;
}
.tab_text{
    width: 100%;
    text-align: center;
}
.tab_text:hover{
    background-color: #ffbc4c;
    cursor: pointer;
}
.userform_box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.userdetail01{
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.userimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px #7C838A solid;
    overflow: hidden;
}
.userdetail01_container{
    line-height: 20px;
}
input[type="number"],
input[type="text"]{
    border-radius: 20px;
    border: 2px #7C838A solid;
    padding: 5px 10px;
    font-size: 20px;
}
.userdetail01_box{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    align-items: center;
}
.userdetail01_title{
    margin-right: 10px;
}
.userdetail01_box02{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 1px;
    align-items: center;
}
.userdetail02_select{
    height: 40px;
    border-radius: 20px;
    border: 2px #7C838A solid;
    padding: 5px 10px;
    font-size: 20px;
}
.userdetail02{
 
    width: 50%;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
}
.userdetail06{
 
    width: 100%;
    margin-bottom: 20px;
}
.userdetail_title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 9px;
    margin-right: 10px;
}
.userdetail02_container{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.userdetail03{
 
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    gap: 230px;
    margin-bottom: 20px;
}
input[type="radio"], input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  padding: 10px 20px;
  margin: 6px;
  border: 2px solid #9ca3af;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
input[type="checkbox"] + label:hover,
input[type="radio"] + label:hover {
  border-color: #3b82f6;
  color: #3b82f6;
}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  background-color: #3b82f6;
  color: #fff;
  border-color: #3b82f6;
}
.petform input[type="checkbox"] + label,
.petform input[type="radio"] + label {
  border: 2px #9ca3af solid;   /* 빨간색 테두리 */
  color: #9ca3af;             /* 글자색 빨간 */
}

/* hover 효과 */
.petform input[type="checkbox"] + label:hover,
.petform input[type="radio"] + label:hover {
  border-color: #dc2626;      /* 더 진한 빨강 */
  color: #dc2626;
}

/* 선택됐을 때 */
.petform input[type="checkbox"]:checked + label,
.petform input[type="radio"]:checked + label {
  background-color: #ef4444;
  border-color: #ef4444;
  color: #fff;
}
.usergender_title{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.point{
    color: red;
}
.userphone_title{
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.userdetail04{
 
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.userdaycount_title{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px; 
    margin-bottom: 10px; 
}
.userdetail05{
 
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 20px;
}
.useronectime_box{
    display: flex;
    row-gap: 15px;
    flex-wrap: wrap;
}
.userwalktime_title{
    margin-bottom: -10px;
    font-size: 20px;
    font-weight: bold;
}
.userdetail07{
 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.userdetail08{
 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.userdetail09{
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.userdetail11{
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.userdetail11_textarea{
    width: 100%;
    height: 300px;
    font-size: 18px;
    border: 2px #9ca3af solid;
    border-radius: 20px;
    padding: 15px;
    resize: none;
}
.userdetail10{
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.user_edit_detail10_picbox {
    display: flex;
    gap: 20px;
}

.user_place_style {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #9ca3af;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.user_input_file_style {
    display: none;
}

.user_place_noimg_style {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user_place_style img.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.2s;
    z-index: 10;
}

.delete-button:hover {
    opacity: 1;
}
.buttons {
    display: flex;
    gap:10px;
    margin-top: 15px;
    padding-top: 15px;
    justify-content: end;
    border-top: 2px #9ca3af solid;
    margin-bottom: 30px;
}
.form_btn{
    background-color: #ffa500;
    border: 4px solid #ffa500;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.petform_box{

    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.petdetail01{
    width: 50%;

    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.petdetail_box01{

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.petdetail_title{
    font-size: 20px;
    font-weight: bold;
}
.petimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px #7C838A solid;
}
.petdetail02{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}
.petyear_input{
    border: 2px #7C838A solid;
    border-radius: 25px;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    height: 40px;
}
.petdetail04{
    display: flex;
    width: 100%;
    gap: 250px;

    align-items: center;
}
.petnumber_input:disabled{
    background-color: rgba(124, 131, 138, 0.5);
}
.pet_neutering_box{
    margin-top: -10px;
    display: flex;
    gap: 3px;
    align-items: center;
}
.petdetail06{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}
.petweight_box{
    margin-left: -5px;
}
.petdetail03{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.petpersonal_box{
    margin-left: -5px;
}
.petdetail07{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.petdetail08{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    width: 100%;
    margin-right: 10px;
}
.petdetail08_textarea{
    width: 100%;
    height: 300px;
    font-size: 18px;
    border: 2px #9ca3af solid;
    border-radius: 20px;
    padding: 15px;
    resize: none;
}
#petform_id{
    display: none;
}
#userform_id{
    display: block;
}
.userpic_file{
    display: none;
}
.userpic_dbtn{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.2s;
    z-index: 10;
    display: none;
}
.userpic_dbtn:hover{
    opacity: 1;
}
.userpic_label{
    position: relative;
    cursor: pointer;
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}
.userpic_label img,
.userpic_label .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 라벨 크기에 맞춰 이미지 채우기 */
    border-radius: 50%; /* 원형으로 만들기 */
}
.petpic_dbtn{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.2s;
    z-index: 10;
    display: none;
}
.petpic_file{
    display: none;
}
.petpic_label{
    position: relative;
    cursor: pointer;
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden; 
    justify-content: center;
}
.petpic_label img,
.petpic_label .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 라벨 크기에 맞춰 이미지 채우기 */
    border-radius: 50%; /* 원형으로 만들기 */
}