

/*컨테이너*/
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    padding: 20px;
    border: none;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

/*로그인 from*/
#login-form {
    display: inline-block;
    text-align: center;
}

/*h2 로그인 글자*/
h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

/*아이디,비밀번호 분실 메세지*/
.small {
    text-align: right;
    font-size: 0.7rem;
}

.small a{
    text-decoration: none;
    color: #799eff;
}

.small a:hover{
    color: #ffbc4c;
}

/*text 상자 주황색*/
#login_form input[type="text"],
#login_form input[type="password"]{
    border: 1px solid #ffbc4c;
    border-radius: 4px;
    width:90%;
    margin: 0 auto 6px auto; /* 아래쪽만 살짝 띄움 */
    padding: 4px 6px;        /* 위아래 패딩 줄임 */
    box-sizing: border-box;
    font-size: 0.8rem;
     }
/*라벨 왼쪽*/
#login_form label{
    display: block;
    text-align: left;
    font-size: 10px;
    margin-bottom: 1px;
    margin-left: 10px;
}
/*place holder크기*/
input[placeholder]{
     font-size: 0.8em;
}

/*로그인 버튼*/
.submit_button input[type="submit"] {
    width: 95%;
    padding: 2px;
    background-color: #ffbc4c;
    border: 2px solid #ffbc4c;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    cursor:pointer;
}