            body {
                font-family: 'Noto Sans KR', sans-serif;
                margin:0;
                padding:0;
                height:100%;
                overflow:hidden;
            }
            .container {
                width:100%;
                height:100vh;
                overflow:hidden;
            }
            header{
                display:flex;
                position:fixed;
                top:0;
                width:100%;
                background:#fff;
                align-items:center;
                height:120px;
                z-index:10;
              /**  border: 1px solid #bbb; 임시**/
            }
            header img{
                width:100px;
                height:100px;
                margin-left:20px;
            }
            header .menu{
                display:flex;
                list-style:none;
                font-weight:bold;
                gap:80px;
                margin-top:80px;
                margin-left:100px;
                font-size:20px;
            }
            header ul li a{
                text-decoration:none;
                color:black;
            }
            header .menu li a:hover{
                color:#ffbc4c;
            }
            header .login_menu{
                display:flex;
                list-style:none;
                gap:10px;
                margin-bottom:80px;
                margin-left:270px;
                font-size:15px;
                font-weight:bold;
            }
            .main_page{
                background:#ffbc4c;
                position:relative;
                width:100%;
                height:calc(100vh - 120px);
                overflow:hidden;
                margin-top:120px;
                /** border:1px solid #bbb; 임시 **/  
            }
            .main_page img{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                transition: transform 1.5s ease;
                z-index: 1;
            }
            .main_content {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                z-index: 0;
                background:#ffbc4c;
                opacity: 0;
                transition: opacity 1.5s ease;
                cursor:pointer;
            }
            .main_page:hover > img {
                transform: translateX(-100%); /* 왼쪽으로 완전히 밀어내기 */
            }
            .main_page:hover .main_content {
                opacity: 1; /* 컨텐츠 보이게 */
                z-index: 2;
            }  