body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
}

#header {
    background-color: #ffbc4c;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.message_list li{
    list-style: none;;
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.message_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
    width: 100%;
}

.message_content {
    margin-left: 20px;
}

.message_content strong {
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

.message_content a {
    text-decoration: none;
    color: black;
}

.message_content a:hover {
    color:#ffbc4c
}


.message_time {
    align-items: right;
    margin-left: 50px;
}

.message_time .unread {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}