            body {
                font-family: 'Noto Sans KR', sans-serif;
                margin:0;
            }
            header{
                display:flex;
                position:fixed;
                width:100%;
                background:#fff;
                align-items:center;
                height:120px;
              /** border: 1px solid #bbb;  임시 **/
            }
            .logo img{
                width:100px;
                height:100px;
                margin-left:20px;
            }
            header .menu{
                display:flex;
                list-style:none;
                font-weight:bold;
                gap:80px;
                margin-top:80px;
                margin-left:100px;
                font-size:20px;
            }
            header ul li a{
                text-decoration:none;
                color:black;
            }
            header .menu li a:hover{
                color:#ffbc4c;
            }
            header .login_menu {
                display: flex;
                align-items: center;
                list-style:none;
                gap: 7px;
                margin-left: auto;
                margin-bottom:auto;
                margin-right: 20px;
            }
            header .profile_image img,
            header .message_point img
            {
                width: 40px;
                height: 40px;
                margin: 0;
            }
            header .notification_point img,
            header .edit_point img{
                width:40px;
                height:40px;
                margin-left:-8px;
                margin-top:7px;
            } 
            header .profile_image img {
                border-radius: 50%;
            }
            main{
                display:flex;
                flex-direction: column;
                justify-content: center;
                padding-top:120px;
            }
            .sub_header {
                width: 100%;
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                font-weight: bold;
                margin: 0 auto;
                text-align:center;
                background:#FFBC4C;
            }
            .sub_header p {
                font-size: 18px;
                font-weight: bold;
                margin-top: 0;
            }
            .review_main{
                width:1100px;
                max-width:1200px;
                margin:50px auto;
                padding:30px;
            }
            .review_title{
                display:flex;
                align-items: center;
                margin-bottom:30px;
            }
            .review_title img{
                width:60px;
                height:60px;
                border-radius:50%;
                margin-right:10px;
                cursor:pointer;
            }
            .review_title h3{
                font-size:20px;
                margin-right: auto;
            }
            .main_line{
                border:1px solid black;
                margin-top:10px;
            }
            .score{
                display:block;
                align-items: center;
                width:30%;
                font-weight:700;
                font-size:18px;
                cursor:pointer;
            }
            .score h3{
                display:inline-block;
            }
            .score .bar{
                height:10px;
                background:rgb(168, 168, 168);
                border-radius:10px;
            }
            .score .fill{
                height:10px;
                background:#FFBC4C;
                border-radius:10px;
                width:90%;
            }
            .review_row{
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin-top:20px;
                width:100%;
            }
            .review_row .user{
                display:flex;
                align-items: center;
                gap:10px;
            }
            .submit_button {
                text-align: center;
            }
            .submit_button button {
                background-color: #ffbc4c;
                color: black;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                border-radius: 5px;
                font-weight:bold;
            }
            .submit_button button a {
                text-decoration: none;
                color: black;
            }
            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .pagination a {
                text-decoration: none;
                color: black;
                font-size: 8px;
                padding: 8px 10px;
                border: 1px solid #7C838A;
                border-radius: 4px;
            }   
            #no1 {
                background-color: #ffbc4c;
                border: 1px solid #ffbc4c;
                color: black;
            }