            body {
                font-family: 'Noto Sans KR', sans-serif;
                margin:0;
            }
            header{
                display:flex;
                position:fixed;
                width:100%;
                background:#fff;
                align-items:center;
                height:120px;
              /** border: 1px solid #bbb;  임시 **/
            }
            .logo img{
                width:100px;
                height:100px;
                margin-left:20px;
            }
            header .menu{
                display:flex;
                list-style:none;
                font-weight:bold;
                gap:80px;
                margin-top:80px;
                margin-left:100px;
                font-size:20px;
            }
            header ul li a{
                text-decoration:none;
                color:black;
            }
            header .menu li a:hover{
                color:#ffbc4c;
            }
            header .login_menu {
                display: flex;
                align-items: center;
                list-style:none;
                gap: 7px;
                margin-left: auto;
                margin-bottom:auto;
                margin-right: 20px;
            }
            header .profile_image img,
            header .message_point img
            {
                width: 40px;
                height: 40px;
                margin: 0;
            }
            header .notification_point img,
            header .edit_point img{
                width:40px;
                height:40px;
                margin-left:-8px;
                margin-top:7px;
            } 
            header .profile_image img {
                border-radius: 50%;
            }
            main{
                display:flex;
                flex-direction:column;
                align-items:center;
                padding-top:120px;
            }
            .sub_header {
                width: 100%;
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                font-weight: bold;
                margin: 0 auto;
                text-align:center;
                background:#FFBC4C;
            }
            .sub_header p {
                font-size: 18px;
                font-weight: bold;
                margin-top: 0;
            }
            .main_line{
                width:100%;
                border: 1px solid black;
                margin-top:40px;
            }
            .review_form_main{
                width:1100px;
                max-width:1200px;
                margin:50px auto;
                padding:30px;
            }
            .review_form_title{
                display:flex;
                flex-direction: column;
                align-items: center;
                margin-bottom:30px;
            }
            .review_form_content textarea{
                width:100%;
                height:300px;
                margin-top:10px;
                border:1px solid #bbb;
                font-size:16px;
                padding:20px;
            }
            .review_form_content select{
                width:50%;
                height:20px;
                margin-top:20px;
                border:1px solid #bbb;
                font-size:16px;
            }
            .score select{
                width:10%;
                height:20px;
                margin-top:10px;
                border:1px solid #bbb;
                font-size:16px;
                text-align:center;
            }
            .submit_button {
                text-align: center;
                margin-top: 20px;
            }
            .submit_button button{
                background-color: #ffbc4c;
                color: black;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                border-radius: 5px;
            }
