            body {
                font-family: 'Noto Sans KR', sans-serif;
            }
            header{
                display:flex;
                position:fixed;
                width:100%;
                background:#fff;
                align-items:center;
                height:120px;
              /** border: 1px solid #bbb;  임시 **/
            }
            .logo img{
                width:100px;
                height:100px;
                margin-left:20px;
            }
            header .menu{
                display:flex;
                list-style:none;
                font-weight:bold;
                gap:80px;
                margin-top:80px;
                margin-left:100px;
                font-size:20px;
            }
            header ul li a{
                text-decoration:none;
                color:black;
            }
            header .menu li a:hover{
                color:#ffbc4c;
            }
            header .login_menu {
                display: flex;
                align-items: center;
                list-style:none;
                gap: 7px;
                margin-left: auto;
                margin-bottom:auto;
                margin-right: 20px;
            }
            header .profile_image img,
            header .message_point img
            {
                width: 40px;
                height: 40px;
                margin: 0;
            }
            header .notification_point img,
            header .edit_point img{
                width:40px;
                height:40px;
                margin-left:-8px;
                margin-top:7px;
            } 
            header .profile_image img {
                border-radius: 50%;
            }