body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
}

#header {
    background-color: #ffbc4c;
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px); /* 화면 전체 높이에서 헤더 높이(50px)만큼 뺌 */
}

.profile_pic_detail {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start ;

}
.profile_pic_detail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율 유지하며 최대 크기로 표시 */    
}    
.comment {
    display: flex;
    flex-direction: column; /*댓글 세로*/
    
    margin: 10px;
    
}
.comment-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.comment .fa-regular.fa-heart {
    margin-left: 10px;

    cursor: pointer;
}
.comment-section {
    display: flex;
    flex-direction: column; /*댓글 세로*/
    flex: 1;
    height: 100%; /* 부모높이만큼 */
    position: relative;  
    
}
.heart {
    cursor: pointer;
    margin-left: auto; /* 오른쪽 정렬 */
}
.likes-count {
    text-align: left;
    margin: 10px;
}
.comment-list {
    flex: 1;                /* 남은 공간 모두 차지 */
    overflow-y: auto;       /* 스크롤 가능 */
}
.username {
    font-weight: bold;
    margin-right: 5px;
}
.add-comment {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;              /* 바닥에 붙이기 */
    background-color: #fff; /* 배경색 필요 */
}
.likes-count{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 10px;
}
.timestamp {
    font-size: 12px;
    color: #7C838A;
    margin: 5px 5px;
}
.add-comment button[type="submit"] {
    background: none;      /* 배경 제거 */
    border: none;          /* 테두리 제거 */
    padding: 0;            /* 여백 제거 */
    font-size: 20px;       /* 아이콘 크기 조정 */
    cursor: pointer;
}

.add-comment input[type="text"] {
    flex: 1;               /* 남은 공간 모두 차지 */
    border: none;          /* 테두리 제거 */
    outline: none;     /* 포커스 시 외곽선 제거 */
    font-size: 14px;
}
.post-interactions {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box; /* 패딩 포함한 크기 계산 */
    bottom: 0; 
}

.comment_bottom {
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;;
}