main {
    padding-top: 130px;   /* 헤더 고정이므로 위쪽 여백 */
    margin: 0 150px 150px; /* 좌우·하단 여백 */
}

/* 상단 큰 배너 (관리자 페이지 타이틀 영역) */
.sub_header {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;

}

.lost_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 120px;
    justify-items: center;
    text-align: center;
}


.lost_main .lost_image img {
    height: 200px;
    width: 200px;
}

.lost_main .list .lost_name {
    font-weight: bold;
    margin: 10px;
    font-size: 25px;
}

.lost_main .list .lost_place {
    font-size: 18px;
    margin-bottom: 50px;
}

.submit_button {
    text-align: center;
    margin-top: 20px;
  }

.submit_button input[type="submit"] {
    background-color: #ffbc4c;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
 }